# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
myenv/
.venv/
ENV/
env/

# Django specific
*.log
*.pot
media/
static/

# Database
*.sqlite3
db.sqlite3

# System files
.DS_Store